{% load static %}
<!DOCTYPE html>

<html>
<head>
  <title>Create New Polling Unit</title>
  <link rel="stylesheet" type="text/css" href="{% static 'polling/css/create.css' %}">
</head>
<body>

    <div id="formBx">
        <h2>Register Polling Unit</h2>
        <form method='post' id="polling-unit-form", action="">
          {% csrf_token %}
        <div id="div">
          <div>
            <div class="form-group">
            <label for="polling_unit_id">Polling Unit ID:</label>
            <input id="polling_unit_id" name="polling_unit_id" type="number" required>
            </div>

            <div class="form-group">
            <label for="polling_unit_number">Polling Unit Number:</label>

            <input id="polling_unit_number" name="polling_unit_number" type="text" required>
            </div>

            <div class="form-group">
            <label for="polling_unit_name">Polling Unit Name:</label>

            <input id="polling_unit_name" name="polling_unit_name" type="text" required>
            </div>

            <div class="form-group">
            <label for="polling_unit_description">Polling Unit Description:</label>

            <textarea id="polling_unit_description" name="polling_unit_description" type="text" required></textarea>
            </div>
            <div class="form-group">
            <label for="lat">Latitude:</label>

            <input id="lat" name="lat" type="text" required>
            </div>
            <div class="form-group">
            <label for="long">Longitude:</label>

            <input id="long" name="long" type="text" required>
            </div>

            <div class="form-group">
            <label for="lga_id">Local Government Area:</label>

            <select name="lga_id" id="lga_id" class="custom-select" required>
                <option value="" disabled selected>Select an option</option>
            
                {% for lga in lgas %}
                <option value="{{lga.id}}">{{ lga.lga_name }}</option>
                {% endfor %} 
              </select>
            </div>
              <div class="form-group">
                <label for="ward_id">Ward:</label>

              <select name="ward_id" id="ward_id" class="custom-select" required>
                <option value="" disabled selected>Select an option</option>

              </select>
            </div>
          </div>

            <div>
            {% for party in parties %}

            <div class="form-group">
              <label for="{{party.partyname}}">{{party.partyname}}:</label>
              <input id="{{party.partyname}}" name="party" type="number">
              <input type="hidden" value="{{party.partyid}}" name="partynames">
            </div>
            {% endfor %}
            </div>
        </div>
          

            <div class="form-group">
                <input id="submit" value='Submit' type="submit">
            </div>
            
        </form>
    </div>

    <script>
    
        var selectElement = document.getElementById("lga_id");
        
        selectElement.addEventListener('change', ()=>{
            sendSelectedValue();
        })
        
        function sendSelectedValue() {
            var selectedValue = selectElement.value;
            fetch("/polling/wards/" + selectedValue, {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
            }
            })
            .then(response => response.json())
            .then(data => {
              // Handle the API response here
                let selectWard = document.getElementById('ward_id');
                selectWard.innerHTML = '';
                selectWard.innerHTML += `<option value="" disabled selected>Select an option</option>`
                data.forEach((ward)=>{
                    selectWard.innerHTML += `<option value="${ward.ward_id}|${ward.id}">${ward.ward_name}</option>`;
                })
            })
            .catch(error => {
              // Handle any errors
              console.error(error);
            });
          }
        
        
        
        </script>


<script>
  var form = document.getElementById("polling-unit-form");
  form.addEventListener("submit", function (event) {
      event.preventDefault(); 
      submitForm();
  });
  var notification = document.createElement("div");
          notification.textContent = "Data saved successfully!";
          notification.setAttribute("id", "notification");;
          document.body.appendChild(notification);
      
  function submitForm() {
    var form = document.getElementById("polling-unit-form");
    var formData = new FormData(form);
    fetch(form.action, {
        method: "POST",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}",
        },
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        // Handle the response from the server
          let notification = document.getElementById('notification');
            notification.style.display = "block";
          setTimeout(function() {
            notification.style.display = "none";
          }, 5000);
          let form = document.getElementById('polling-unit-form');
          form.reset();

    })
    .catch(error => {
        // Handle any errors that occur during the request
        console.error(error);
    });
}

</script>
</body>
</html>